<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" data-bs-theme="auto">
  <head th:replace="~{fragments :: head}"></head>
  <body class="min-vh-100 d-flex flex-column">
    <th:block th:replace="~{fragments :: header}"></th:block>
    <section class="container flex-fill text-center">
      <div class="m-4">
        <i class="bi bi-hourglass-split"></i>
        <span th:text="${expireTimestamp}"></span>
      </div>
      <textarea
        id="noteText"
        readonly
        rows="6"
        class="form-control font-monospace my-4"
        th:text="${noteText}"
      ></textarea>
      <a th:href="@{|/${notesBasePath}/raw/${noteId}|}"
        ><button class="btn btn-primary">Raw</button></a
      >
      <button
        id="copyButton"
        onclick="addClipboard('noteText', 'copyButton', 'Copy', 'Copied!')"
        class="btn btn-primary"
      >
        Copy
      </button>
    </section>
    <th:block th:replace="~{fragments :: footer}"></th:block>
    <script>
      const ANIMATION_TIME = 1_500;
      let timeout;
      async function addClipboard(elementId, callerId, defaultValue, newValue) {
        const textToCopy = document.getElementById(elementId).value;
        const caller = document.getElementById(callerId);

        await navigator.clipboard.writeText(textToCopy);
        caller.innerText = newValue;

        if (timeout) {
          clearTimeout(timeout);
        }

        timeout = setTimeout(() => {
          caller.innerText = defaultValue;
        }, ANIMATION_TIME);
      }
    </script>
  </body>
</html>
