<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Stickee</title>
    <link rel="stylesheet" th:href="@{/main.css}" />
  </head>
  <body class="bg-white-50 text-gray-800 h-dvh">
    <header class="bg-primary-200 mx-auto py-4">
      <h1 class="text-2xl px-4">
        Stickee
      </h1>
    </header>
    <section class="text-center h-full">
      <p class="m-4">A simple and ephemeral text storage application</p>
      <form th:action="@{|/${notesBasePath}/create|}" method="post" class="mx-4 flex flex-col items-center">
        <textarea name="text" rows="10" class="p-1 w-full lg:w-2/3 outline-none transition ease-in-out border-2 rounded-xl border-gray-400 hover:border-primary-400 focus:border-primary-400"></textarea>
        <button type="submit" class="m-2 p-2 transition ease-in-out rounded-xl bg-primary-200 hover:bg-primary-400">Create</button>
      </form>
    </section>
  </body>
</html>
