<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" data-bs-theme="auto">
  <head th:replace="~{fragments :: head}"></head>
  <body class="min-vh-100 d-flex flex-column">
    <th:block th:replace="~{fragments :: header}"></th:block>
    <section class="container flex-fill text-center">
      <p class="fs-2 fw-light m-5">
        A simple and ephemeral text storage application
      </p>
      <p class="m-4 text-body-secondary">
        You can create a note and get a link to share it. All notes are deleted
        after <span class="text-primary" th:text="${notesMaxAge}" />.
      </p>
      <form
        class="text-center"
        th:action="@{|/${notesBasePath}/create|}"
        method="post"
      >
        <textarea class="form-control" name="text" rows="5"></textarea>
        <button class="m-4 btn btn-primary" type="submit">Submit</button>
      </form>
    </section>
    <th:block th:replace="~{fragments :: footer}"></th:block>
  </body>
</html>
