@use "sass:map";

@import 'node_modules/bootstrap/scss/functions';
@import 'node_modules/bootstrap/scss/variables';

$stickee-colors: (
  primary: $purple,
);

$theme-colors: map.merge($theme-colors, $stickee-colors);

@import 'node_modules/bootstrap/scss/bootstrap';